@import url(normalise.css);


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Questrial&family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Montserrat:wght@300&family=UnifrakturMaguntia&display=swap');


/* global defaults */



body{ 
    background-color: rgb(0, 26, 255);

    font-family: 'Montserrat', sans-serif;
    font-family: 'Lacquer', cursive; ;

    color: blue;

    text-align: center;

}

  /* needing help with spcaing of dot points and with some writing */  
  /* how to have 'the home of the glitch' */
  /* how to have each piece of writing be their own, I don't understand how there are three h1's */
  /* how to make navigation */
  /* how to make navigation accessable for phones and tablets */
  /* how to make fonts glow? */
  /* how to have fonts slanted on the side of the page and flash */

  /* how to make each text individual and space it individaully */

  /* how to add images and how to add videos that play */
  /* how to add social media links */

h1{
    color: blue;
    font-family: 'UnifrakturMaguntia', cursive; 
    font: 80px;
    text-align: center;
}


h2{ 
    color: blue;
    font: 80px;
    font-family: 'Lacquer', cursive;
    text-align: center;
}
 
h3,
h4,
h5
h6{
    color:blue;
    font: 80px;
    font-family: 'Lacquer', cursive;
    text-align: center;
    
}

h1 { 
    font-size: 120px;
}

h2 { 
    font-size: 40px;
}


h3 {
    font-size: 20px;
}

    h4 {
    font-size: 20px;
}

    h5 {  
        font-size: 20px;
    }

    h6 { 
    font-size: 20px;
}



article p{ 
    font: size 12px; ;
    color:blue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


.layout-wide { 
    background-color: rgb(0, 0, 0);

    max-width: 1000px; 
    padding: 40px;
    margin-right: auto;
    margin-left: auto;

}

img{
    max-width: 100%;
    text-align: center;
    
}

/* headings and typography */

/* header */

/* navigation */

/* footer */

/* modules */

/* images */

