@import url(normalise.css);


@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Questrial&family=UnifrakturMaguntia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Montserrat:wght@300&family=UnifrakturMaguntia&display=swap');


/* global defaults */



body{ 
    background-color: rgb(0, 26, 255);

    font-family: 'Montserrat', sans-serif;
    font-family: 'Lacquer', cursive; ;

    color: blue;

    text-align: center;

}

nav { 
    background-color: rgb(0, 0, 0);
    color: rgb(0, 26, 255);
}

ul li { display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: all 0.7s ease;
}
 
ul li :hover{ 
    background-color: chartreuse;
}


ul li a {
    color: rgb(0, 26, 255);
}

  /* needing help with spcaing of dot points and with some writing */  
  /* how to have 'the home of the glitch' */
  /* how to have each piece of writing be their own, I don't understand how there are three h1's */
  /* how to make navigation */
  /* how to make navigation accessable for phones and tablets */
  /* how to make fonts glow? */
  /* how to have fonts slanted on the side of the page and flash */

  /* how to make each text individual and space it individaully */

  /* how to add images and how to add videos that play */
  /* how to add social media links */

h1{
    color: blue;
    font-family: 'UnifrakturMaguntia', cursive; 
    font: 80px;
    text-align: center;
}


h2{ 
    color: blue;
    font: 80px;
    font-family: 'Lacquer', cursive;
    text-align: center;
}
 
h3,
h4,
h5
h6{
    color:blue;
    font: 100px;
    font-family: 'Lacquer', cursive;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

h1 { 
    font-size: 120px;
}

h2 { 
    font-size: 40px;
}


h3 {
    font-size: 80px;
}

    h4 {
    font-size: 80px;
}

    h5 {  
        font-size: 80px;
    }

    h6 { 
    font-size: 80px;
}

h7{ color:blue;
    font: 80px;
    font-family: 'Lacquer', cursive;
    text-align: center;
    background-color: rgb(0, 0, 0);
}


h8{ color:blue;
    font: 80px;
    font-family: 'UnifrakturMaguntia', cursive; 
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);
}

h9{ color:rgb(255, 0, 0);
    font: 80px;
    font-family: 'UnifrakturMaguntia', cursive; 
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);
}

h10{ color:rgb(0, 247, 33);
    font: 80px;
    font-family: 'UnifrakturMaguntia', cursive; 
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);

}

h11{ color:rgb(252, 252, 252);
    font: 80px;
    font-family: 'UnifrakturMaguntia', cursive; 
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);
}

h13{ color:rgb(255, 0, 221);
    font: 80px;
    font-family: 'UnifrakturMaguntia', cursive; 
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);

}



article p{ 
    font: size 12px; ;
    color:blue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 0, 0);

}


.layout-wide { 
    background-color: rgb(0, 0, 0);

    max-width: 1200px; 
    padding: 20px;
    margin-right: auto;
    margin-left: auto;

}

img{
    max-width: 100%;
    text-align: center;
    
    
}



/* headings and typography */

/* header */

/* navigation */

/* footer */

/* modules */

/* images */


