/* global defaults */

body{ 
    background-color: rgb(0, 26, 255);

    font-family: Arial, Helvetica, sans-serif;
}

    

h1{
    color: rgb(21, 255, 0);
    font: 50px;

}

article p{ 
    font: size 12px; ;
    color:blue;
}


.layout-wide { 
    background-color: crimson;

    max-width: 1000px; 
    padding: 40px;
    margin-right: auto;
    margin-left: auto;

}

img{
    max-width: 100%;
}

/* headings and typography */

/* header */

/* navigation */

/* footer */

/* modules */

/* images */

